@model QL_Tour_Du_Lich.Models.Tour

@{
    ViewBag.Title = "Chi tiết tour";
    
    if((string)Session["email"]!="")
    {
        Layout = "~/Views/Shared/_LayoutPageSuccessLoginNguoiDung.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutPageNguoiDung.cshtml";
    }
}
<style>
    #hinh_tour {
        width: 600px;
        height: 250px;
    }
</style>
<div class="row">
    <div class="col-md-7">
        <h3>@Html.DisplayFor(m => m.Ten_Tour)</h3>
        <img src="~/Hinh/@Html.DisplayFor(m => m.Hinh_Anh)" id="hinh_tour" />
        <h4 class="col-md-offset-1">@Html.DisplayFor(m => m.Gioi_Thieu)</h4>
    </div><br /><br />
    <div class="col-md-5" id="gioi_thieu_ttour">
        <div>
            <h4>
                @Html.DisplayName("Ngày bắt đầu: ")
                @Html.DisplayFor(m => m.Thoi_Gian_Di)
            </h4>
        </div>
        <div>
            <h4>
                @Html.DisplayName("Ngày kết thúc: ")
                @Html.DisplayFor(m => m.Thoi_Gian_Ve)
            </h4>

        </div>
        <div>
            <h4>
                @Html.DisplayName("Giá: ")
                @Html.DisplayFor(m => m.Gia)
            </h4>

        </div>
        <div>
            <h4>
                @Html.DisplayName("Số người trong tour: ")
                @ViewBag.SLTG/@ViewBag.SLMax
            </h4>
        </div>
        <div>
            <h4>
                @Html.DisplayName("Điểm đến: ")
                @Html.DisplayFor(m => m.Thanh_Pho)
            </h4>
        </div>
        <div>
            <h4>
                @Html.DisplayName("Lịch trình: ")
                @Html.DisplayFor(m => m.Lich_Trinh)
            </h4>
        </div><br />
        <div class="chucnang">
            <h4>
                @Html.ActionLink("Đặt tour", "DatTour","Tour",new { id=Model.Tour_Id},null)|
                @Html.ActionLink("Trở Về", "Index", "Home", null, null)
            </h4> 
        </div>
    </div> 
</div>


