
@{
    ViewBag.Title = "Home";
    if ((string)Session["email"] != "")
    {
        Layout = "~/Views/Shared/_LayoutSuccessLogin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    } 
}
<style>
    #tuade{
        text-align:center;
    }
    #thongbao{
        color:red;
    }
</style>
<h2 id="tuade">Xác nhận</h2>
<hr />
@using (Html.BeginForm("XacNhan", "Tour", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2">
                Nhập mã xác nhận: 
            </div>
            <div class="col-md-10">
                <input type="text" name="xacnhan" value="" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <h4 id="thongbao">@ViewBag.ThongBao</h4>
                <h4 id="thongbao">@Session["thongbao"]</h4>
                <input type="submit" value="@Session["ValueButton"]" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @if ((string)Session["email"] != "")
    {
        @Html.ActionLink("Trở về", "Index", "HomeLogin",null,null)
    }
    else
    {
        @Html.ActionLink("Trở về", "Index", "Home",null,null)
    } 
</div>

