@model QL_Tour_Du_Lich.Models.Tour

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
<style>
    #imagePreview {
        width: 160px;
        height: 90px;
    }
    #thongbao{
        color:red;
    }
    #thongbaongay{
        color:red;
    }
</style>
<script>
function fileValidation(){
    var fileInput = document.getElementById('Hinh_Anh');
    var filePath = fileInput.value;//lấy giá trị input theo id
    var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;//các tập tin cho phép
    //Kiểm tra định dạng
    if(!allowedExtensions.exec(filePath)){
        alert('Vui lòng upload các file có định dạng: .jpeg/.jpg/.png/.gif only.');
        document.getElementById('imagePreview').innerHTML = '<img style="width:160px;height:90px;" src=""/>';
        $("imagePreview").attr("src", e.target.result);
        fileInput.value = '';
        return false;
    }else{
    //Image preview
    if (fileInput.files && fileInput.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('imagePreview').innerHTML = '<img style="width:160px;height:90px;" src="' + e.target.result + '"/>';
    };
    reader.readAsDataURL(fileInput.files[0]);
    }
    }
}
</script>
@using (Html.BeginForm("EditTour", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tour</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Tour_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Ten_Tour, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ten_Tour, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ten_Tour, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hinh_Anh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Hinh_Anh, new { htmlAttributes = new { @class = "form-control" }, @type = "file", onchange = "return fileValidation()" })
                <br />Ảnh hiện tại<br/>
                <img id="imagesate" src="~/Hinh/@Session["hinhhientai"]" height="90" width="160"/>
                <br />Ảnh thay đổi<br />
                <div id="imagePreview"></div>
                @Html.ValidationMessageFor(model => model.Hinh_Anh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Thoi_Gian_Di, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Thoi_Gian_Di, new { htmlAttributes = new { @class = "form-control" }, @type = "date" ,@value=Html.DisplayFor(model => model.Thoi_Gian_Di) })
                @Html.ValidationMessageFor(model => model.Thoi_Gian_Di, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Thoi_Gian_Ve, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Thoi_Gian_Ve, new { htmlAttributes = new { @class = "form-control" },@type="date"})
                @Html.ValidationMessageFor(model => model.Thoi_Gian_Ve, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Loai_Tour_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Loai_Tour_ID", (IEnumerable<SelectListItem>)ViewBag.ListLoaiTour, new { @class = "form-control", @Value =Html.DisplayFor(model => model.Loai_Tour_Id) })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lich_Trinh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lich_Trinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lich_Trinh, "", new { @class = "text-danger" })
            </div>
        </div>
   
        <div class="form-group">
            @Html.LabelFor(model => model.Trang_Thai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Trang_Thai", (IEnumerable<SelectListItem>)ViewBag.ListTrangThai, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.So_Luong_Tham_Gia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.So_Luong_Tham_Gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.So_Luong_Tham_Gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gioi_Thieu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gioi_Thieu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gioi_Thieu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Thanh_Pho, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Thanh_Pho, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Thanh_Pho, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <h4 id="thongbao" class="col-md-offset-2">@ViewBag.ThongBao</h4>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <h4 id="thongbaongay">@ViewBag.ThongBaoNgay</h4>
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "QLTour")
</div>
