@model QL_Tour_Du_Lich.Models.Chi_Tiet_Hoa_Don

@{
    ViewBag.Title = "Đặt tour";
    Layout = "~/Views/Shared/_LayoutPageSuccessLoginNguoiDung.cshtml";
}
<style>
    #hinh_tour {
        width: 600px;
        height: 250px;
    }
    #thongbao{
        color:red;
    }
    #mahoadon{
        color:red;
    }
</style>
<div class="row">
    <div class="col-md-7">
        <h3>@ViewBag.TenTour</h3>
        <img src="~/Hinh/@ViewBag.Hinh" id="hinh_tour" />
        <h4 class="col-md-offset-1">@ViewBag.GioiThieu</h4>
    </div><br /><br />
    <div class="col-md-5" id="gioi_thieu_ttour">
        <div>
            <h4>
                @Html.DisplayName("Ngày bắt đầu: ")
                @ViewBag.NgayDi
            </h4>
        </div>
        <div>
            <h4>
                @Html.DisplayName("Ngày kết thúc: ")
                @ViewBag.NgayVe
            </h4>

        </div>
        <div>
            <h4>
                @Html.DisplayName("Giá: ")
                @ViewBag.Gia
            </h4>

        </div>
        <div>
            <h4>
                @Html.DisplayName("Số người trong tour: ")
                @ViewBag.SLHT/@ViewBag.SLMax
            </h4>
        </div>
        <div>
            <h4>
                @Html.DisplayName("Điểm đến: ")
                @ViewBag.ThanhPho
            </h4>
        </div>
        <div>
            <h4>
                @Html.DisplayName("Lịch trình: ")
                @ViewBag.LichTrinh
            </h4>
        </div><br />
    </div>
</div>
<div class="row">
    <hr/>
    @using (Html.BeginForm("DatTour", "HomeLogin"))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Ten_Khach_Hang, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ten_Khach_Hang, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ten_Khach_Hang, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @Value=(string)Session["Email"] } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control"},onchange = "" })
                    @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <h4 id="thongbao">@ViewBag.ThongBao</h4>
                    <h4 id="mahoadon">@ViewBag.MaHoaDon</h4>
                    <input type="submit" value="Đặt tour" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Trở về", "ChiTietTour",new { id=ViewBag.TourID})
    </div>
</div>

