@model QL_Tour_Du_Lich.Models.Tai_Khoan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tai_Khoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_Dang_Nhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_Dang_Nhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat_Khau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_Khau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loai_Nguoi_Dung_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loai_Nguoi_Dung_Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
