@model QL_Tour_Du_Lich.Models.Tai_Khoan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tai_Khoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_Dang_Nhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_Dang_Nhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat_Khau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_Khau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loai_Nguoi_Dung_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loai_Nguoi_Dung_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
