<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETB-@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        .test {
            background-color: white;
            font-size: 18px;
            font-weight: bold;
            -webkit-animation: my 700ms infinite;
            -moz-animation: my 700ms infinite;
            -o-animation: my 700ms infinite;
            animation: my 700ms infinite;
            text-align: right;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <p class="test"> HotLine: 0397611751</p>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ETB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Giới thiệu</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Trong nước
                            @if ((List<QL_Tour_Du_Lich.Models.Tour>)@Session["DSThanhPhoTrongNuoc"] != null)
                            {
                                <span class="caret"></span>
                            }
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var x in (List<QL_Tour_Du_Lich.Models.Tour>)@Session["DSThanhPhoTrongNuoc"])
                            {
                                <li>
                                    @Html.ActionLink(x.Thanh_Pho, "QueryTrongNuoc", new { tp = x.Thanh_Pho })
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Ngoài nước
                            @if ((List<QL_Tour_Du_Lich.Models.Tour>)@Session["DSThanhPhoNgoaiNuoc"] != null)
                            {
                                <span class="caret"></span>
                            }
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var x in (List<QL_Tour_Du_Lich.Models.Tour>)@Session["DSThanhPhoNgoaiNuoc"])
                            {
                                <li>
                                    @Html.ActionLink(x.Thanh_Pho, "QueryNgoaiNuoc", new { tp = x.Thanh_Pho })
                                </li>
                            }
                        </ul>
                    </li>
                    <li><a href="/TaiKhoan/DangKy"><span class="glyphicon glyphicon-user"></span> Đăng ký</a></li>
                    <li><a href="/TaiKhoan/DangNhap"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Team 2 KTPM11A</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>